<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="row">
    <div class="large-12 large-centered columns">

      <header class="masthead">
        <img src="https://avatars2.githubusercontent.com/u/11250483?s=400&u=b76e2e297d3526054c945535500231d6bff94293&v=4"
          alt="Patrick Fernandes">
      </header>

    </div>
  </div>

  <div class="row">

    <div class="large-8 large-offset-1 columns">

      <div class="content-section">

        <p>
          Hey! I’m Patrick.
        </p>
        <p>
          I'm currently a graduate student at <a href="https://www.lti.cs.cmu.edu/">Carnegie Mellon University</a> and <a href="https://fenix.tecnico.ulisboa.pt/departamentos/deec">Instituto Superior Técnico</a>, supervised by <a href="http://www.phontron.com/">Graham Neubig</a> and <a href="https://andre-martins.github.io/">André Martins</a>. 
          I've also spent some time doing research at <a href="https://deepmind.com/">Google Deepmind</a>, <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-cambridge/">Microsoft Research</a> and <a href="https://unbabel.com/">Unbabel</a>.
          </p>
          
          </p>
          <p>
          I'm mostly do research around machine translation, trying to improve translation though context use or better decoding, and interpretability of neural networks. 
          I've recently also taken an interest in LLMs (like basically everyone else), and their relation to my other research interests.
          In a past life, I've have also worked on program analysis with graph neural networks.
          </p>

        <p>
        I did my masters at the <a href="https://www.cst.cam.ac.uk/admissions/acs">University of Cambridge</a> and my undergrad at <a href="https://fenix.tecnico.ulisboa.pt/cursos/leic-a">Instituto Superior Técnico</a>.
        </p>
      </div>

      <main>
        <h3>News</h3>
        <ul class=news>
        {% for news in site.data.news limit:4 %}
          <li> <b>{{ news.date }}:</b> {{ news.title }}</li>
        {% endfor %}
        </ul>
        <!-- 
        <h3 style="margin-bottom:20px;"> Posts </h3>
        {% for post in site.posts %}
        <div class="project-post">
          <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" class=post-preview-image> !
          <strong><a href="{{ post.url }}"> {{ post.title }}</a></strong>
          <p>{{ post.abstract }}</p>
          <br style="clear:both" /> 
        </div>
        {% endfor %}
        -->

        <h3>All Publications</h3>
        <small>* = equal contribution</small>
        {% for pub in site.data.publications %}
        <p>
          <strong>{{ pub.title }}</strong> <br />
          {{pub.authors}} <br />
          <i>{{pub.publisher}}</i><a href="{{pub.link}}"> <i class=" fa fa-file-pdf fa-fw"></i></a>
          {% if pub.award %}
          <span class="award-badge"> {{pub.award}} </span>
          {% endif %}
        </p>
        {% endfor %}
      </main>





      <footer>
        <p class="copyright">
          <!-- &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. -->
          This site as a Jekyll template and it's licensed MIT. <br /> You're welcome to <a href="https://github.com/jamigibbs/portfolio">use
            it</a>!
        </p>

      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="mailto:pattuga@gmail.com?Subject=Hello,%20Patrick!"><i class=" fa fa-envelope"></i></a></li>
        <li><a href="{{ site.baseurl }}/public/cv.pdf"><i class="fas fa-scroll"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>

  </div>

  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

</body>

</html>
